body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    font-family: outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.container img {
    width: 100%;
    border-radius: 10px;
}

.container p,
.attribution {
    text-align: center;
}

.attribution {
    font-size: 11px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}